/*  Parte Principal do código CSS para o portfólio. */
html {
    font-size: calc(15px + 0.390625vw);
}
body {
    color: #21243D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #21243D;
    text-decoration: none; 
}

p {
    line-height: 130%;
}

img {
    max-width: 100%; 
}
/*  Parte de Específicos.     */

header nav ul li {
    text-align: center;
    padding: 10px 0;
    /* display: inline-block; */
    /* margin: 0 10px; */
}
section h2 {
    text-align: center;
    margin: 15px;
}
/* Seção do Banner */
section.banner {
    text-align: center;
    padding: 0 5% 0 5%;
}
section.banner h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0;
}
section.banner button {
    background-color: #FF6464;
    border: none;
    color: white;
    display: inline-block;
    margin: 10px 0 20px ;
    padding: 10px 20px;
    font-size: 1.5rem;
}

section.posts {
    background-color: #EDF7FA;
    padding: 10px;
}
 
section.posts ul li {
    background-color: white;
    padding: 15px;
    margin: 12px 10px;
}
section.posts ul li h3 {
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    font-weight: bold;
}
section.posts ul li p {
    font-size: 0.9rem;
    margin: 0;
    padding: 0 0 10px 0;
}
section.works {
    padding: 20px 10px;
    margin-bottom: 10rem;
}
section.works h3 {
    font-size: 1.25rem;
    margin: 0 0 10px 0;
    font-weight: bold;
    margin: 10px 0 0 0;
}
section.works ul {
    border-bottom: 1px solid #8695A4;
}
section.works ul li {
    margin: 15px 0;
}

section.works ul li p {
    color: #21243D;
    margin: 15px 0;
} 
section.works ul li p.info {
    color: #8695A4;
}
section.works ul li p.info span {
    background-color: #142850;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
}

section.works-ft {
    padding: 20px 10px;
    margin-bottom: 10rem;
}
section.works-ft h1 { 
    font-size: 2rem;
    margin: 10px 0;
}
section.works-ft h3 {
    font-size: 1.25rem;
    margin: 0 0 10px 0;
    font-weight: bold; 
}

section.works-ft ul li {
    margin: 20px 0;
}

section.works-ft ul li p {
    color: #21243D;
    margin: 15px 0;
}
 
section.works-ft ul li p.info span {
    background-color: #FF7C7C;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
}
section.works-ft ul li p.info {
    font-weight: bold;
}

footer {
    padding: 20px 0;
    text-align: center;
}
footer p{
    font-size: 0.7rem;
    margin: 10px 0;
}
footer a {
    font-size: 2rem;
    padding: 10px 15px;
}

@media (min-width: 700px) { 
    /* ajuste no topo */
    header ul {
        justify-content: right;
        display: flex;
    }
    header ul li {
        margin-right: 20px;
    }
    section h2 {
        text-align: left;
        font-size: 1.5rem;
    }
    /* ajustando o banner */
    section.banner {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        margin: 10vw 7vw;
    }
    section.banner.texto {
        margin-right: 7vw;
    }   
    /* ajustando o posts */
    section.posts, section.works {
        padding: 1.2vw 10vw;
    }
    section.posts ul, section.works ul {   
        display: flex;
        justify-content: space-between;
    }
    section.posts ul li p {
        margin-top: 2vw;
    }

    /* ajustando o works */ 
    section.works ul li {
        margin: 0 1vw;
    }

    section.works ul {
        border-bottom: none;
    }
    footer {
        padding: 3vw 0;
        text-align: center;
    }
     
 }
